<div class="row column">
	<h3 class="text-center">{{ page.gallery_header }}</h3>
</div>

<div class="row medium-up-3 large-up-4">

	{% if page.show_gallery_image_1 %}

		
		
		<div class="column">
			<img class="thumbnail" src="{{ page.gallery_image_1_image_thumb  }}">
		</div>

		

	{% endif %}

	{% if page.show_gallery_image_2 %}

		
		
		<div class="column">
			<img class="thumbnail" src="{{ page.gallery_image_2_image_thumb }}">
		</div>

		

	{% endif %}

	{% if page.show_gallery_image_3 %}

		
		
		<div class="column">
			<img class="thumbnail" src="{{ page.gallery_image_3_image_thumb  }}">
		</div>

		

	{% endif %}

	{% if page.show_gallery_image_4 %}

		
		
		<div class="column">
			<img class="thumbnail" src="{{ page.gallery_image_4_image_thumb  }}">
		</div>

		

	{% endif %}

</div>
