---
layout: default

show_call_to_action: true
call_to_action:
call_to_action_header: This is my header
call_to_action_sub_text: This is my sub-text
call_to_action_button_text: Read Morez

show_gallery: true
show_gallery_image_1: true
show_gallery_image_2: true
show_gallery_image_3: true
show_gallery_image_4: true

gallery_header: Recent Projects

 
gallery_image_1_image_thumb: http://placehold.it/550x550
gallery_image_1_image_alt: this is alt text

gallery_image_2_image_thumb: http://placehold.it/550x550
gallery_image_2_image_alt: this is alt text

gallery_image_3_image_thumb: http://placehold.it/550x550
gallery_image_3_image_alt: this is alt text

gallery_image_4_image_thumb: http://placehold.it/550x550
gallery_image_4_image_alt: this is alt text

show_intro: true
intro_header: Our Agency, our selves.
intro_content: Vivamus luctus urna sed urna ultricies ac tempor dui sagittis. In condimentum facilisis porta. Sed nec diam eu diam mattis viverra. Nulla fringilla, orci ac euismod semper, magna diam porttitor mauris, quis sollicitudin sapien justo in libero. Vestibulum mollis mauris enim. Morbi 
intro_img: http://www.fillmurray.com/750/350

show_slider: true 
show_slide_1: true
show_slide_2: true
show_slide_3: true


slider_1_name: slide-1
slider_1_url: /assets/img/slide-1.jpg
slider_1_caption: false



slider_2_name: slide-2
slider_2_url: /assets/img/slide-2.jpg 
slider_2_caption: false


slider_3_name: slide-3
slider_3_url: /assets/img/slide-3.jpg 
slider_3_caption: false
---

<!-- Slider -->
{% if page.show_slider %}

  {% include slider.html %}

{% endif %}

<!-- Call to Action -->
{% if page.show_call_to_action %}

  {% include call-to-action.html %}

{% endif %}

<!-- intro -->
{% if page.show_intro %}

  {% include intro.html %}

{% endif %}

<hr>

<!-- Gallery -->
{% if page.show_gallery %}

  {% include gallery.html %}

{% endif %}

<br>
