---
layout: default
slider: false 
call-to-action: true
---

{% if page.slider %}

  <div class="orbit" role="region" aria-label="Favorite Space Pictures" data-orbit>
    <ul class="orbit-container">

    <button class="orbit-previous"><span class="show-for-sr">Previous Slide</span>&#9664;&#xFE0E;</button>
    <button class="orbit-next"><span class="show-for-sr">Next Slide</span>&#9654;&#xFE0E;</button>

      {% for slide in site.data.slides %}
        <li class="orbit-slide">
          <img class="orbit-image" src="{{ slide.url }}">
          {% if slide.caption %}<figcaption class="orbit-caption">{{ slide.caption }}</figcaption>{% endif %}
        </li>
      {% endfor %}

    </ul>
  </div>

{% endif %}

{% if page.call-to-action %}

  {% include call-to-action.html %}

{% endif %}

    <div class="row">
      <div class="medium-6 columns medium-push-6">
        <img class="thumbnail" src="http://www.fillmurray.com/750/350">
      </div>
      <div class="medium-6 columns medium-pull-6">
        <h2>Our Agency, our selves.</h2>
        <p>Vivamus luctus urna sed urna ultricies ac tempor dui sagittis. In condimentum facilisis porta. Sed nec diam eu diam mattis viverra. Nulla fringilla, orci ac euismod semper, magna diam porttitor mauris, quis sollicitudin sapien justo in libero. Vestibulum mollis mauris enim. Morbi euismod magna ac lorem rutrum elementum. Donec viverra auctor.</p>
      </div>
    </div>

    <hr>

    <div class="row column">
      <h3 class="text-center">Our Recent Work</h3>
    </div>

    <div class="row medium-up-3 large-up-4">
      <div class="column">
        <img class="thumbnail" src="http://placehold.it/550x550">
      </div>
      <div class="column">
        <img class="thumbnail" src="http://placehold.it/550x550">
      </div>
      <div class="column">
        <img class="thumbnail" src="http://placehold.it/550x550">
      </div>
      <div class="column">
        <img class="thumbnail" src="http://placehold.it/550x550">
      </div>
    </div>
