---
layout: default
show_call-to-action: true
call-to-action:
  - header: This is my header
    sub-text: This is my sub-text
    button-text: Read Morez
    
show_gallery: true
gallery-header: Recent Projects
gallery: 
  - image_thumb: http://placehold.it/550x550
    image_alt: this is alt text
  - image_thumb: http://placehold.it/550x550
    image_alt: this is alt text
  - image_thumb: http://placehold.it/550x550
    image_alt: this is alt text
  - image_thumb: http://placehold.it/550x550
    image_alt: this is alt text

show_intro: true
intro:
  - header: Our Agency, our selves.
    content: Vivamus luctus urna sed urna ultricies ac tempor dui sagittis. In condimentum facilisis porta. Sed nec diam eu diam mattis viverra. Nulla fringilla, orci ac euismod semper, magna diam porttitor mauris, quis sollicitudin sapien justo in libero. Vestibulum mollis mauris enim. Morbi euismod magna ac lorem rutrum elementum. Donec viverra auctor.
    img: http://www.fillmurray.com/750/350

show_slider: true 
show_slide-1: false
slider-1:
  - name: slide-1
    url: /assets/img/slide-1.jpg 
    caption: false
show_slide-2: true
slider-2:
  - name: slide-2
    url: /assets/img/slide-2.jpg 
    caption: false
show_slide-3: true
slider-3:
  - name: slide-3
    url: /assets/img/slide-3.jpg 
    caption: false
---

<!-- Slider -->
{% if page.show_slider %}

  {% include slider.html %}

{% endif %}

<!-- Call to Action -->
{% if page.show_call-to-action %}

  {% include call-to-action.html %}

{% endif %}

<!-- intro -->
{% if page.show_intro %}

  {% include intro.html %}

{% endif %}

<hr>

<!-- Gallery -->
{% if page.show_gallery %}

  {% include gallery.html %}

{% endif %}

<br>
